In [14]:
import pandas as pd

In [15]:
df = pd.read_csv('athletes.csv')

In [16]:
#---------------------------------------------------------------------------------------------------------------------

In [17]:
# STEP 1: CLEAN THE DATA

In [18]:
#Check data for missing columns (height, weight and info have missing values)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11538 entries, 0 to 11537
Data columns (total 12 columns):
id               11538 non-null int64
name             11538 non-null object
nationality      11538 non-null object
sex              11538 non-null object
date_of_birth    11538 non-null object
height           11208 non-null float64
weight           10879 non-null float64
sport            11538 non-null object
gold             11538 non-null int64
silver           11538 non-null int64
bronze           11538 non-null int64
info             131 non-null object
dtypes: float64(2), int64(4), object(6)
memory usage: 1.1+ MB

In [19]:
#Drop insignificant columns or columns with so little data they won't be of help to us
df.drop(['info', 'gold', 'silver', 'bronze'], inplace=True, axis=1)
# Change the current 'df' object and look for our drop columns in the first row/axis=1

In [20]:
#We want to compare 'similar' entries based on height, weight

df = df.loc[df['sex'] == 'male']

options = ['basketball', 'football', 'golf', 'cycling', 'rugby sevens']
df = df.loc[df['sport'].isin(options)]

In [21]:
df

,id,name,nationality,sex,date_of_birth,height,weight,sport
4,33922579,Aaron Gate,NZL,male,1990-11-26,1.81,71.0,cycling
17,256673338,Abbubaker Mobara,RSA,male,1994-02-18,1.75,64.0,football
27,677622742,Abdelghani Demmou,ALG,male,1989-01-29,1.85,75.0,football
29,904808208,Abdelhakim Amokrane,ALG,male,1994-05-10,1.86,70.0,football
31,133974151,Abdelkadir Salhi,ALG,male,1993-03-19,1.85,79.0,football
38,514096508,Abdelraouf Benguit,ALG,male,1996-04-05,1.70,65.0,football
40,285603057,Abderrahmane Mansouri,ALG,male,1995-01-13,1.72,66.0,cycling
41,545134894,Abderrahmane Meziane,ALG,male,1994-03-07,1.68,62.0,football
49,958967643,Abdul Khalili,SWE,male,1992-06-07,1.81,71.0,football
57,153457,Abdullahi Shehu,NGR,male,1993-03-12,1.70,NaN,football
81,624366946,Adam Lundqvist,SWE,male,1994-03-20,1.74,70.0,football
91,184652432,Adam Yates,GBR,male,1992-08-07,1.72,58.0,cycling
95,46940649,Adas Juskevicius,LTU,male,1989-01-03,1.94,90.0,basketball
109,930618704,Adilson da Silva,BRA,male,1972-01-24,1.70,79.0,golf
112,256936407,Adnan Maric,SWE,male,1997-02-17,1.83,78.0,football
135,664737236,Adrien Niyonshuti,RWA,male,1987-01-02,1.65,68.0,cycling
182,663592491,Ahmed Ibrahim,IRQ,male,1992-02-25,1.84,80.0,football
192,696999235,Ahmet Orken,TUR,male,1993-03-12,1.77,69.0,cycling
214,356290857,Ailun Guo,CHN,male,1993-11-14,1.92,85.0,basketball
244,850163240,Akira Ioane,NZL,male,1995-06-16,1.94,113.0,rugby sevens
248,593452734,Alaa Ali,IRQ,male,1996-06-03,1.78,68.0,football
250,249203070,Alade Aminu,NGR,male,1987-09-14,2.10,102.0,basketball
253,275659106,Alan Hatherly,RSA,male,1996-03-15,1.78,62.0,cycling
274,502881474,Alberth Elis,HON,male,1996-02-12,1.84,77.0,football
300,813391088,Alejandro Valverde Belmonte,ESP,male,1980-04-25,1.77,63.0,cycling
322,646633611,Aleksei Kurbatov,RUS,male,1994-05-09,NaN,NaN,cycling
324,285964258,Aleksejs Saramotins,LAT,male,1982-04-08,1.85,75.0,cycling
338,630246233,Alessandro De Marchi,ITA,male,1986-05-19,1.81,66.0,cycling
349,178787882,Alex Abrines,ESP,male,1993-08-01,1.98,93.0,basketball
354,794799982,Alex Cejka,GER,male,1970-12-02,1.68,65.0,golf
...,...,...,...,...,...,...,...,...
11026,732552796,Wim Stroetinga,NED,male,1985-05-23,1.76,70.0,cycling
11027,2681418,Windi Graterol,VEN,male,1986-09-10,2.05,110.0,basketball
11045,474296927,Wout Poels,NED,male,1987-10-01,1.86,67.0,cycling
11065,470006570,Xiaochuan Zhai,CHN,male,1993-03-24,2.04,100.0,basketball
11140,136270822,Yang Fan,CHN,male,1990-01-03,1.83,78.0,cycling
11163,210648871,Yanyuhang Ding,CHN,male,1993-08-20,2.00,91.0,basketball
11273,291959436,Yonathan Monsalve,VEN,male,1989-06-28,1.76,62.0,cycling
11283,970544941,Yongwoo Park,KOR,male,1993-09-10,1.86,80.0,football
11294,133419662,Yoshitaka Tokunaga,JPN,male,1992-04-10,1.85,100.0,rugby sevens
11295,435666182,Yoshitaku Nagasako,JPN,male,1993-09-16,1.72,70.0,cycling
11299,391193514,Yosuke Ideguchi,JPN,male,1996-08-23,1.71,69.0,football
11303,897401460,Youcef Reguigui,ALG,male,1990-01-09,1.74,68.0,cycling
11313,421409834,Yousef Mirza Banihammad,UAE,male,1988-10-08,1.76,60.0,cycling
11332,27660873,Yuchen Zou,CHN,male,1996-07-05,2.03,107.0,basketball
11367,492326920,Yukiya Arashiro,JPN,male,1984-09-22,1.71,64.0,cycling
11397,531947330,Yurary Poulsen,DEN,male,1994-06-15,1.93,85.0,football
11411,273316719,Yusaku Kuwazuru,JPN,male,1985-10-23,1.88,98.0,rugby sevens
11416,865077945,Yusuf Bala,NGR,male,1996-12-22,1.83,82.0,football
11420,335237956,Yuta Ikeda,JPN,male,1985-12-22,1.76,76.0,golf
11422,116013385,Yuta Wakimoto,JPN,male,1989-03-21,1.81,74.0,cycling
11425,766135834,Yuya Kubo,JPN,male,1993-12-24,1.77,72.0,football
11435,503085577,Zac Williams,NZL,male,1995-07-21,1.80,89.0,cycling
11439,99932834,Zack Test,USA,male,1989-10-13,1.91,92.0,rugby sevens
11442,636555666,Zakaria Draoui,ALG,male,1994-02-20,1.60,60.0,football
11444,71202021,Zakarya Haddouche,ALG,male,1993-08-19,1.70,65.0,football
11455,538896901,Zdenek Stybar,CZE,male,1985-12-11,1.83,72.0,cycling
11457,879954351,Zeca,BRA,male,1994-05-16,1.70,69.0,football
11460,916408500,Zeljko Sakic,CRO,male,1988-04-14,2.03,105.0,basketball
11475,167115740,Zhelin Wang,CHN,male,1994-01-20,2.14,100.0,basketball
11476,448660080,Zhen Wang,CHN,male,1989-06-26,1.72,65.0,cycling

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1029 entries, 4 to 11476
Data columns (total 8 columns):
id               1029 non-null int64
name             1029 non-null object
nationality      1029 non-null object
sex              1029 non-null object
date_of_birth    1029 non-null object
height           1004 non-null float64
weight           982 non-null float64
sport            1029 non-null object
dtypes: float64(2), int64(1), object(5)
memory usage: 72.4+ KB

In [23]:
#Fill in missing values for height and weight with the mean height and weight
avg_height = df['height'].mean()
avg_weight = df['weight'].mean()
print(avg_height)
print(avg_weight)

df['height'].fillna(avg_height, inplace=True)
df['weight'].fillna(avg_weight, inplace=True)

1.8289840637450168
80.31059063136456

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1029 entries, 4 to 11476
Data columns (total 8 columns):
id               1029 non-null int64
name             1029 non-null object
nationality      1029 non-null object
sex              1029 non-null object
date_of_birth    1029 non-null object
height           1029 non-null float64
weight           1029 non-null float64
sport            1029 non-null object
dtypes: float64(2), int64(1), object(5)
memory usage: 72.4+ KB

In [25]:
#Change date of birth to current age
df['date_of_birth'] = pd.to_datetime(df['date_of_birth'])

#NOTE:
# - Handle outliers

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1029 entries, 4 to 11476
Data columns (total 8 columns):
id               1029 non-null int64
name             1029 non-null object
nationality      1029 non-null object
sex              1029 non-null object
date_of_birth    1029 non-null datetime64[ns]
height           1029 non-null float64
weight           1029 non-null float64
sport            1029 non-null object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 72.4+ KB

In [27]:
df['age'] = df['date_of_birth'].apply(lambda x : (pd.datetime.now().year - x.year))

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1029 entries, 4 to 11476
Data columns (total 9 columns):
id               1029 non-null int64
name             1029 non-null object
nationality      1029 non-null object
sex              1029 non-null object
date_of_birth    1029 non-null datetime64[ns]
height           1029 non-null float64
weight           1029 non-null float64
sport            1029 non-null object
age              1029 non-null int64
dtypes: datetime64[ns](1), float64(2), int64(2), object(4)
memory usage: 80.4+ KB

In [29]:
df.drop(['date_of_birth'], inplace=True, axis=1)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1029 entries, 4 to 11476
Data columns (total 8 columns):
id             1029 non-null int64
name           1029 non-null object
nationality    1029 non-null object
sex            1029 non-null object
height         1029 non-null float64
weight         1029 non-null float64
sport          1029 non-null object
age            1029 non-null int64
dtypes: float64(2), int64(2), object(4)
memory usage: 72.4+ KB

In [ ]:
#---------------------------------------------------------------------------------------------------------------------

In [ ]:
# STEP 2: Fit Our Model

In [31]:
from sklearn.model_selection import train_test_split
#Train and Test data sets
train, test = train_test_split(df, test_size=0.10)

In [32]:
train.info()
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 926 entries, 7692 to 9636
Data columns (total 8 columns):
id             926 non-null int64
name           926 non-null object
nationality    926 non-null object
sex            926 non-null object
height         926 non-null float64
weight         926 non-null float64
sport          926 non-null object
age            926 non-null int64
dtypes: float64(2), int64(2), object(4)
memory usage: 65.1+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 103 entries, 11422 to 4
Data columns (total 8 columns):
id             103 non-null int64
name           103 non-null object
nationality    103 non-null object
sex            103 non-null object
height         103 non-null float64
weight         103 non-null float64
sport          103 non-null object
age            103 non-null int64
dtypes: float64(2), int64(2), object(4)
memory usage: 7.2+ KB

In [33]:
#Separate our variables into 'attributes' (x) and 'labels' (y)
x_train = train[['height', 'weight']]
y_train = train.loc[:,'sport']

x_test = test[['height', 'weight']]
y_test = test.loc[:,'sport']

In [34]:
#Scale the height, weight and age values so they are proportinal to one another

#Here we switch from pandas to numpy! Easier for sklearn to use

from sklearn.preprocessing import MinMaxScaler


scaler = MinMaxScaler()

x_train = scaler.fit_transform(x_train[['height', 'weight']])
x_test = scaler.fit_transform(x_test[['height', 'weight']])

#Conver from Pandas dataframe to numpy array (older version)
y_train = y_train.values
y_test = y_test.values

In [35]:
x_train

array([[0.        , 0.09411765],
       [0.34482759, 0.2       ],
       [0.51724138, 0.32941176],
       ...,
       [0.34482759, 0.22352941],
       [0.34482759, 0.42352941],
       [0.24137931, 0.15294118]])

In [36]:
y_train

array(['football', 'cycling', 'football', 'basketball', 'cycling',
       'cycling', 'cycling', 'basketball', 'cycling', 'cycling',
       'basketball', 'cycling', 'cycling', 'basketball', 'cycling',
       'cycling', 'cycling', 'cycling', 'football', 'golf', 'football',
       'rugby sevens', 'football', 'rugby sevens', 'football', 'cycling',
       'cycling', 'golf', 'football', 'cycling', 'football', 'cycling',
       'basketball', 'cycling', 'cycling', 'cycling', 'football',
       'rugby sevens', 'rugby sevens', 'golf', 'basketball', 'cycling',
       'football', 'basketball', 'football', 'basketball', 'rugby sevens',
       'football', 'football', 'cycling', 'rugby sevens', 'football',
       'football', 'football', 'football', 'basketball', 'cycling',
       'cycling', 'rugby sevens', 'cycling', 'cycling', 'rugby sevens',
       'football', 'cycling', 'cycling', 'football', 'cycling', 'cycling',
       'football', 'basketball', 'cycling', 'rugby sevens', 'football',
       'rugby sevens', 'cycling', 'cycling', 'cycling', 'cycling',
       'football', 'football', 'cycling', 'golf', 'football',
       'rugby sevens', 'cycling', 'football', 'cycling', 'football',
       'cycling', 'cycling', 'football', 'cycling', 'football',
       'rugby sevens', 'football', 'football', 'cycling', 'football',
       'cycling', 'cycling', 'basketball', 'football', 'golf',
       'basketball', 'football', 'basketball', 'basketball', 'cycling',
       'rugby sevens', 'cycling', 'basketball', 'rugby sevens', 'cycling',
       'basketball', 'football', 'football', 'cycling', 'rugby sevens',
       'basketball', 'rugby sevens', 'golf', 'football', 'cycling',
       'football', 'cycling', 'cycling', 'cycling', 'cycling', 'cycling',
       'cycling', 'cycling', 'cycling', 'cycling', 'cycling', 'football',
       'football', 'cycling', 'basketball', 'rugby sevens', 'football',
       'rugby sevens', 'cycling', 'football', 'cycling', 'football',
       'cycling', 'cycling', 'golf', 'cycling', 'basketball', 'football',
       'cycling', 'golf', 'rugby sevens', 'basketball', 'cycling',
       'cycling', 'cycling', 'football', 'football', 'rugby sevens',
       'football', 'golf', 'golf', 'cycling', 'rugby sevens', 'golf',
       'cycling', 'football', 'cycling', 'football', 'basketball',
       'basketball', 'cycling', 'cycling', 'football', 'golf', 'cycling',
       'golf', 'rugby sevens', 'basketball', 'football', 'basketball',
       'cycling', 'cycling', 'golf', 'football', 'football', 'cycling',
       'rugby sevens', 'football', 'cycling', 'football', 'football',
       'football', 'cycling', 'football', 'basketball', 'rugby sevens',
       'rugby sevens', 'rugby sevens', 'cycling', 'golf', 'cycling',
       'rugby sevens', 'football', 'cycling', 'football', 'basketball',
       'football', 'cycling', 'rugby sevens', 'cycling', 'football',
       'football', 'cycling', 'cycling', 'cycling', 'football', 'cycling',
       'football', 'basketball', 'cycling', 'football', 'football',
       'cycling', 'basketball', 'cycling', 'cycling', 'football',
       'cycling', 'rugby sevens', 'cycling', 'rugby sevens', 'cycling',
       'golf', 'football', 'golf', 'cycling', 'football', 'golf',
       'cycling', 'cycling', 'cycling', 'cycling', 'cycling', 'football',
       'football', 'basketball', 'basketball', 'football', 'football',
       'football', 'basketball', 'cycling', 'rugby sevens', 'football',
       'football', 'cycling', 'cycling', 'rugby sevens', 'cycling',
       'football', 'football', 'golf', 'football', 'football', 'football',
       'football', 'basketball', 'rugby sevens', 'basketball',
       'rugby sevens', 'golf', 'basketball', 'cycling', 'cycling',
       'basketball', 'rugby sevens', 'golf', 'cycling', 'cycling',
       'football', 'rugby sevens', 'rugby sevens', 'football', 'cycling',
       'cycling', 'cycling', 'football', 'cycling', 'rugby sevens',
       'cycling', 'cycling', 'golf', 'rugby sevens', 'basketball',
       'football', 'rugby sevens', 'football', 'rugby sevens', 'golf',
       'golf', 'basketball', 'football', 'cycling', 'football', 'cycling',
       'rugby sevens', 'golf', 'cycling', 'football', 'cycling',
       'cycling', 'cycling', 'cycling', 'football', 'football', 'cycling',
       'football', 'cycling', 'rugby sevens', 'rugby sevens',
       'basketball', 'cycling', 'football', 'cycling', 'basketball',
       'basketball', 'football', 'cycling', 'basketball', 'football',
       'football', 'basketball', 'football', 'cycling', 'cycling',
       'basketball', 'basketball', 'basketball', 'football', 'basketball',
       'rugby sevens', 'basketball', 'football', 'rugby sevens',
       'football', 'football', 'football', 'cycling', 'golf', 'cycling',
       'rugby sevens', 'football', 'basketball', 'rugby sevens',
       'basketball', 'football', 'basketball', 'basketball', 'cycling',
       'cycling', 'cycling', 'football', 'football', 'football',
       'cycling', 'golf', 'football', 'football', 'football',
       'rugby sevens', 'cycling', 'cycling', 'cycling', 'rugby sevens',
       'basketball', 'rugby sevens', 'football', 'cycling', 'football',
       'football', 'cycling', 'rugby sevens', 'football', 'rugby sevens',
       'cycling', 'cycling', 'cycling', 'football', 'football',
       'football', 'football', 'basketball', 'football', 'rugby sevens',
       'basketball', 'rugby sevens', 'basketball', 'basketball',
       'cycling', 'football', 'cycling', 'cycling', 'golf', 'basketball',
       'football', 'cycling', 'cycling', 'golf', 'football',
       'rugby sevens', 'football', 'cycling', 'cycling', 'rugby sevens',
       'cycling', 'cycling', 'golf', 'basketball', 'football', 'cycling',
       'cycling', 'golf', 'golf', 'cycling', 'cycling', 'rugby sevens',
       'football', 'rugby sevens', 'football', 'cycling', 'cycling',
       'football', 'cycling', 'football', 'cycling', 'basketball',
       'cycling', 'cycling', 'football', 'football', 'cycling',
       'football', 'basketball', 'basketball', 'basketball', 'football',
       'basketball', 'football', 'football', 'cycling', 'football',
       'cycling', 'rugby sevens', 'football', 'basketball', 'cycling',
       'football', 'golf', 'cycling', 'football', 'football',
       'rugby sevens', 'cycling', 'football', 'football', 'rugby sevens',
       'basketball', 'rugby sevens', 'football', 'cycling', 'cycling',
       'rugby sevens', 'rugby sevens', 'football', 'rugby sevens',
       'rugby sevens', 'cycling', 'basketball', 'football', 'basketball',
       'football', 'basketball', 'basketball', 'basketball', 'football',
       'golf', 'football', 'football', 'rugby sevens', 'rugby sevens',
       'football', 'football', 'football', 'rugby sevens', 'rugby sevens',
       'basketball', 'basketball', 'cycling', 'basketball',
       'rugby sevens', 'cycling', 'cycling', 'football', 'football',
       'football', 'rugby sevens', 'football', 'rugby sevens',
       'rugby sevens', 'football', 'rugby sevens', 'football', 'football',
       'football', 'football', 'rugby sevens', 'basketball', 'basketball',
       'cycling', 'cycling', 'golf', 'cycling', 'cycling', 'rugby sevens',
       'basketball', 'football', 'football', 'rugby sevens', 'football',
       'cycling', 'rugby sevens', 'basketball', 'football', 'football',
       'football', 'cycling', 'cycling', 'football', 'cycling', 'cycling',
       'basketball', 'cycling', 'football', 'football', 'cycling',
       'basketball', 'rugby sevens', 'football', 'basketball', 'football',
       'football', 'basketball', 'football', 'football', 'football',
       'football', 'cycling', 'cycling', 'cycling', 'rugby sevens',
       'football', 'cycling', 'basketball', 'golf', 'football',
       'rugby sevens', 'rugby sevens', 'football', 'rugby sevens',
       'cycling', 'football', 'football', 'football', 'golf', 'cycling',
       'basketball', 'football', 'football', 'cycling', 'football',
       'cycling', 'football', 'football', 'golf', 'football', 'football',
       'football', 'football', 'football', 'rugby sevens', 'football',
       'cycling', 'cycling', 'football', 'football', 'basketball',
       'rugby sevens', 'rugby sevens', 'cycling', 'football', 'cycling',
       'rugby sevens', 'basketball', 'football', 'football', 'cycling',
       'rugby sevens', 'basketball', 'football', 'football', 'basketball',
       'football', 'cycling', 'basketball', 'football', 'cycling',
       'basketball', 'golf', 'basketball', 'football', 'football',
       'cycling', 'cycling', 'rugby sevens', 'rugby sevens', 'cycling',
       'football', 'cycling', 'cycling', 'cycling', 'football',
       'football', 'football', 'basketball', 'football', 'football',
       'basketball', 'cycling', 'rugby sevens', 'rugby sevens',
       'football', 'rugby sevens', 'football', 'rugby sevens', 'cycling',
       'football', 'football', 'basketball', 'football', 'basketball',
       'basketball', 'cycling', 'rugby sevens', 'rugby sevens',
       'football', 'basketball', 'basketball', 'cycling', 'basketball',
       'rugby sevens', 'cycling', 'football', 'cycling', 'football',
       'golf', 'football', 'rugby sevens', 'cycling', 'rugby sevens',
       'cycling', 'football', 'cycling', 'cycling', 'cycling',
       'rugby sevens', 'rugby sevens', 'football', 'golf', 'cycling',
       'cycling', 'football', 'football', 'cycling', 'basketball', 'golf',
       'football', 'football', 'cycling', 'golf', 'golf', 'cycling',
       'cycling', 'cycling', 'cycling', 'cycling', 'cycling', 'cycling',
       'rugby sevens', 'football', 'football', 'football', 'cycling',
       'rugby sevens', 'cycling', 'cycling', 'cycling', 'golf',
       'football', 'cycling', 'cycling', 'football', 'football',
       'football', 'cycling', 'football', 'football', 'football',
       'cycling', 'football', 'cycling', 'football', 'football',
       'rugby sevens', 'rugby sevens', 'football', 'cycling',
       'rugby sevens', 'football', 'cycling', 'rugby sevens', 'golf',
       'cycling', 'football', 'cycling', 'cycling', 'cycling',
       'basketball', 'football', 'cycling', 'golf', 'football',
       'football', 'cycling', 'basketball', 'basketball', 'cycling',
       'basketball', 'football', 'football', 'cycling', 'rugby sevens',
       'cycling', 'cycling', 'cycling', 'rugby sevens', 'football',
       'basketball', 'cycling', 'rugby sevens', 'football', 'basketball',
       'football', 'football', 'golf', 'cycling', 'cycling', 'football',
       'cycling', 'cycling', 'basketball', 'golf', 'football', 'football',
       'cycling', 'rugby sevens', 'basketball', 'golf', 'football',
       'cycling', 'basketball', 'rugby sevens', 'rugby sevens', 'cycling',
       'basketball', 'rugby sevens', 'cycling', 'football',
       'rugby sevens', 'cycling', 'football', 'basketball', 'basketball',
       'football', 'basketball', 'rugby sevens', 'football', 'cycling',
       'football', 'basketball', 'cycling', 'football', 'rugby sevens',
       'rugby sevens', 'golf', 'basketball', 'cycling', 'rugby sevens',
       'football', 'football', 'cycling', 'cycling', 'cycling',
       'rugby sevens', 'cycling', 'cycling', 'football', 'rugby sevens',
       'cycling', 'cycling', 'football', 'rugby sevens', 'rugby sevens',
       'football', 'football', 'basketball', 'football', 'basketball',
       'cycling', 'rugby sevens', 'football', 'football', 'football',
       'golf', 'football', 'football', 'basketball', 'basketball', 'golf',
       'football', 'cycling', 'basketball', 'cycling', 'football',
       'football', 'football', 'cycling', 'cycling', 'football',
       'basketball', 'football', 'cycling', 'football', 'cycling',
       'football', 'cycling', 'cycling', 'cycling', 'basketball',
       'football', 'football', 'cycling', 'football', 'football',
       'football', 'rugby sevens', 'cycling', 'football', 'cycling',
       'football', 'rugby sevens', 'football', 'football', 'rugby sevens',
       'football', 'cycling', 'football', 'rugby sevens', 'basketball',
       'football', 'basketball', 'football', 'basketball', 'football',
       'basketball', 'basketball', 'football', 'basketball', 'golf',
       'football', 'basketball', 'golf', 'cycling', 'rugby sevens',
       'basketball', 'football', 'football', 'rugby sevens', 'football',
       'football', 'rugby sevens', 'cycling', 'cycling', 'football',
       'cycling', 'cycling', 'golf', 'cycling', 'football', 'cycling',
       'football', 'golf', 'cycling', 'cycling', 'football', 'football',
       'basketball', 'football', 'cycling', 'basketball', 'cycling',
       'football', 'cycling', 'football'], dtype=object)

In [37]:
from sklearn.neighbors import KNeighborsClassifier

classifier = KNeighborsClassifier(n_neighbors=5)
classifier.fit(x_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [ ]:
#---------------------------------------------------------------------------------------------------------------------

In [38]:
# STEP 3: Make predictions using our train data
prediction = classifier.predict(x_test)

In [ ]:
#---------------------------------------------------------------------------------------------------------------------

In [39]:
# STEP 4: Test our predictions against our test data
from sklearn.metrics import classification_report

print(classification_report(y_test, prediction))

              precision    recall  f1-score   support

  basketball       0.89      0.62      0.73        13
     cycling       0.44      0.52      0.48        29
    football       0.54      0.58      0.56        38
        golf       0.00      0.00      0.00         4
rugby sevens       0.67      0.63      0.65        19

 avg / total       0.56      0.55      0.55       103

In [ ]:
#---------------------------------------------------------------------------------------------------------------------

In [44]:
# STEP #5: Make our own predictions
scaler = MinMaxScaler()
new_prediction = scaler.fit_transform([[170, 120]])
result = classifier.predict(new_prediction)

In [45]:
print(result)

['cycling']